<div class="row">
  <div class="col-sm4 offset-md-5">
    <div class="card card-body">
        <h1>Gerenciar Sistema</h1>
        <br>
        <button router class="btn btn-outline-primary" routerLink="/aluno/create" routerLinkActive="active" style="margin-bottom: 3px; border-radius: 10px;">Adicionar Alunos</button>
        <button router class="btn btn-outline-primary" routerLink="/aluno" routerLinkActive="active" style="margin-bottom: 3px; border-radius: 10px;">Adicionar Presença</button>
        <br>
        <button router class="btn btn-outline-primary" id="prof" routerLink="" routerLinkActive="active" style="border-radius: 10px;">Voltar</button>
    </div>
  </div>
</div>
