<div class="row">
  <div class="col-sm4 offset-md-5">
    <div class="card card-body">
      <form (submit)="edit ? updateTurma() : submitTurma()">
        <div class="form-group">
          <input type="text" name="nome_turma" [(ngModel)]="turma.nome_turma" class="form-control" placeholder="Nome da Turma" autofocus>
        </div>
        <div class="form-group">
          <input type="number" name="cod_turma" [(ngModel)]="turma.cod_turma" class="form-control" placeholder="Código da Turma" autofocus>
        </div>
        <div class="form-group">
          <input type="number" name="sala_aula" [(ngModel)]="turma.sala_aula" class="form-control" placeholder="Código da Sala de Aula" autofocus>
        </div>
        <button class="btn btn-primary btn-block">
          Save
        </button>
      </form>
    </div>
  </div>
</div>