<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" aria-current="page" routerLink="" routerLinkActive="active">Home</a>
    <a class="navbar-brand" aria-current="page" routerLink="/aluno" routerLinkActive="active">Alunos</a>
    <a class="navbar-brand" aria-current="page" routerLink="/professor" routerLinkActive="active">Professores</a>
    <a class="navbar-brand" aria-current="page" routerLink="/disciplina" routerLinkActive="active">Disciplinas</a>
    <a class="navbar-brand" aria-current="page" routerLink="/turma" routerLinkActive="active">Turmas</a>
    <a class="navbar-brand" aria-current="page" routerLink="/presenca" routerLinkActive="active">Presenças</a>
  </div>
</nav>
