<div class="row">
  <div class="col-sm4 offset-md-4">
    <div class="card card-body">
      <form (submit)="edit ? updateAluno() : submitAluno()">
        <div class="form-group">
          <input type="text" name="nome_aluno" [(ngModel)]="aluno.nome_aluno" class="form-control" placeholder="Nome do Aluno" autofocus>
        </div>
        <div class="form-group">
          <input type="number" name="cod_turma" [(ngModel)]="aluno.cod_turma" class="form-control" placeholder="Código da Turma" autofocus>
        </div>
        <div class="form-group">
          <input type="number" name="cod_resp" [(ngModel)]="aluno.cod_resp" class="form-control" placeholder="Código do responsavel" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="data_nasc" [(ngModel)]="aluno.data_nasc" class="form-control" placeholder="Data de Nascimento" autofocus>
        </div>
        <button class="btn btn-primary btn-block">
          Save
        </button>
      </form>
    </div>
  </div>
</div>