<div class="row">
  <div class="col-sm4 offset-md-5">
    <div class="card card-body">
        <h1>Selecione seu Cargo</h1>
        <br>
        <button router class="btn btn-outline-primary" id="coord" routerLink="/coordmenu" routerLinkActive="active" style="margin-bottom: 3px; border-radius: 10px;">Coordenador</button>
        <button router class="btn btn-outline-primary" id="prof" routerLink="/profmenu" routerLinkActive="active" style="margin-bottom: 3px; border-radius: 10px;">Professor</button>
    </div>
  </div>
</div>
